###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Linguist overrides
*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.json linguist-detectable=true
*.json linguist-language=JSON

#- *.md linguist-language=Markdown
#- *.md linguist-documentation=false
#- *.md linguist-detectable=true
#- README.md linguist-detectable=false
#- readme.md linguist-detectable=false