### Ansible ###
*.retry

### Consul ###
**/consul/data/*

### Vagrant ###
.vagrant/
*.box

### VS Code ###
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Archives--Comment out if you want to include for a specific project
*.7z
*.gz
*.tar
*.tgz
*.zip

### etc files ###
*.log
*.pem
*.exe
*.cab
*.msi
*.msix
*.msm
*.msp